body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    z-index: 99;
    background-color: #333;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

header, section, footer {
    padding: 60px 20px;
    margin-top: 50px;
}

header {
    background-color: #f4f4f4;
}

section {
    background-color: #e2e2e2;
}

footer {
    background-color: #d4d4d4;
}

/* Desplazamiento suave */
html {
    scroll-behavior: smooth;
}

/* Carrusel */

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px; /* Espacio entre columnas */
}

.col {
    flex: 1; /* Ajustar el tamaño de las columnas */
}

.carousel-container {
    max-width: 50%; /* Limitar el ancho del carrusel */
}

.text-container {
    max-width: 50%; /* Limitar el ancho del texto */
}

.carousel {
    position: relative;
    max-width: 100%;
}

.carousel-inner {
    display: flex;
}

.carousel-item {
    display: none;
    flex: 1 0 100%;
    max-width: 100%;
}

.carousel-item.active {
    display: block;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

.prev, .next {
    font-size: 30px;
    color: black;
}