body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    z-index: 99;
    background-color: #333;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

header, section, footer {
    padding: 60px 20px;
    margin-top: 50px;
}

header {
    background-color: #f4f4f4;
}

section {
    background-color: #e2e2e2;
}

footer {
    background-color: #d4d4d4;
}

/* Desplazamiento suave */
html {
    scroll-behavior: smooth;
}

/* Carrusel */

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px; 
}

.col {
    flex: 1; 
}

.carousel-container {
    max-width: 600px;
    margin: 0 auto;
}

.text-container {
    max-width: 50%; 
}

.carousel {
    position: relative;
    max-width: 100%;
    height: 100%; 
    overflow: hidden; 
}

.carousel-inner {
    display: flex;
    align-items: center;
    height: 600px;
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.carousel-item img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.carousel-item.active {
    display: block;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(0%);
    cursor: pointer;
    user-select: none;
    width: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.1);
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

.prev, .next {
    font-size: 30px;
    color: black;
}

/* formulario */ 
form .form-input {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: 6px 12px;    
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

form .form-input-wrapper.required > label:after {
    content:" *";
    color: red;
}

form .form-input::placeholder {
    font-style: oblique;
}

form .form-input-wrapper {
    margin-bottom: 16px;
}

form .form-chk {
    position: relative;
    display: block;
    padding-left: 20px;
}

.form-chk > .form-chk-input {
    position: absolute;
    margin-top: 4.8px;
    margin-left: -20px;
}

.form-chk > .form-chk-label {
    margin-bottom: 0;
}

form .form-file {
    width: 100%;
}

.btn-submit {
    min-width: 8rem;
    height: calc(1.5em + .75rem + 2px);
    background-color: #2c78eb;
    color: #f4f4f4;
    border-color: #615f89 ;
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.btn-submit:hover {
    background-color: #123468;
}

/* Estilos de contacto */
.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#contact-form {
    flex: 1 1 45%;
    margin-right: 20px;
}

.company-info {
    flex: 1 1 45%;
}

.company-info p {
    margin: 10px 0;
}

.company-info a {
    color: #2c78eb;
    text-decoration: none;
}

.company-info a:hover {
    text-decoration: underline;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
    }

    #contact-form, .company-info {
        flex: 1 1 100%;
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .carousel-container, .text-container {
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    header, section, footer {
        padding: 30px 10px;
    }
}